extends ../theme/layout.pug

block tagline
  span Get ready for a fun event #{person.nickname}
  
block copybig
  p Thank you for volunteering

block copy
  p Kia ora #{person.nickname},
  p You are invited to #{person.volunteerEvent}
  p Click on the link below to accept the invitation
  a(href=`${person.opUrl}`) Accept invitation

//- Override copy button because the layout has a block for authentical user
//- Replace it witht this will do
block copybutton
  p We are looking forward to seeing you at the event
   
block copyimage
  a(href="http://voluntarily.nz" target="_blank")
     img(width="100%" src='https://images.squarespace-cdn.com/content/v1/5b341f644cde7a925f522486/1553752247040-N1M39DEKVS6XF1D71OKD/ke17ZwdGBToddI8pDm48kFQQgP34qnCpeHaeAOzTt7pZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIvwpK0aFuhG0GtLLHqvbV4raqY38tdDiF-KTEvoUH9G4/aaaaaaaaa.gif')
                                 
