extends ../theme/layout.pug

block tagline
  span Get ready for a fun event #{person.nickname}
  
block copybig
  p Thank you for volunteering

block copy
  p Kia ora #{person.nickname},
  p You are invited to #{person.volunteerEvent}
  p Click on the link below to accept the invitation
  a(href=`${person.opUrl}`) Accept invitation

//- Override copy button because the layout has a block for authentical user
//- Replace it witht this will do
block copybutton
  p We are looking forward to seeing you at the event
   
block copyimage
  a(href="http://voluntarily.nz" target="_blank")
                                 
