extends ../theme/layout.pug

block tagline
  span Get validated #{person.nickname}
  
block copybig
  p Welcome to Voluntari.ly.

block copy
  p Kia ora #{person.nickname},
  p Thanks for registering with Voluntari.ly.
  p Please click on the link below to validate your email address and confirm your identity.
  p your key is #{props.token}

block copyimage
  a(href="http://voluntarily.nz" target="_blank")
    include image.pug
                                 
