{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        "react-intl"
      ]
    },
    "production": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "lang/.messages/"
        }]
      ]
    }
  },
  "plugins": [
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }
    ],
    
  ]
}
