{
  "compact": true,
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "lang/.messages/"
        }],
        ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
      ]
    },
    "production": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "lang/.messages/"
        }]
      ]
    },
    "test": {
      "presets": ["next/babel"],
      "plugins": ["istanbul"]
    }
  },
  "plugins": [
    // [
    //   "import", {
    //     "libraryName": "antd",
    //     "style": "css"
    //   },
    // ],
    [ "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
