# add git-ignore syntax here of things you don't want copied into docker image

.git
.results
scripts
*Dockerfile*
node_modules
.editorconfig
*.code-workspace
coverage
.nyc_output
.next
.vscode
__tests__
