.next
lang/.messages/
.DS_Store
node_modules/
npm-debug.log
.idea/
dump.rdb
.vscode/
public/*
dist
coverage/
.nyc_output/
yarn.lock
.ssh
*.pem
.env
package-lock.json
.vscode/launch.json
static/upload/*
static/upload-test/*
.vs/