.next
lang/.messages/
.DS_Store
node_modules/
npm-debug.log
.idea/
dump.rdb
.vscode/
dist
coverage/
.nyc_output/
yarn.lock
.ssh
voluntarily.key
.env
*.env
.vscode/launch.json
public/static/upload/*
public/static/upload-test/*
.vs/
/.test/
dump
prod.priv.pem

