table(width="100%")
  tr
    td(bgcolor="#f8f8f8" align="center" style="padding: 70px 15px 0 15px;" class="section-padding-bottom-image")
      table(width="500" class="responsive-table")
        tr
          td
            table(width="100%")
              tr
                td
                  table(width="100%")
                    tr
                      td(align="center" style="font-size: 25px; color: #333333;" class="padding-copy")
                        block copybig
                    tr
                      td(align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; color: #666666;" class="padding-copy")
                        block copy
                    tr
                      td
                        table(width="100%"  class="mobile-button-container")
                          tr
                            td(align="center" style="padding: 25px 0 0 0;" class="padding-copy")
                              table(class="responsive-table")
                                tr
                                  td(align="center")
                                    block copybutton
                                      a(href="http://alistapart.com/article/can-email-be-responsive/" target="_blank" class="mobile-button") Hell No &rarr;
                    tr
                      td
                        table(width="100%" )
                          tr
                            td(style="padding: 50px 0 0 0;" align="center")
                              block copyimage
                                a(href="http://alistapart.com/article/can-email-be-responsive/" target="_blank")
                                  img(src="img/line-graph.jpg" width="500" height="180" border="0" alt="voluntarily banner" class="img-max" style="width: 500px; height: 180px;")
                                  