table(width="100%")
  tr
    td(bgcolor="#0" align="center")
      table(width="100%" align="center")
        tr
          td(style="padding: 20px 0px 20px 0px;")
            table(width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="responsive-table")
              tr
                td(align="center" valign="middle" style="font-size: 12px; line-height: 18px; color:#aaaaaa;")
                  span(class="appleFooter") 
                    block footer
                      a( href="http://www.pamfergusson.co.nz/") VOLUNTARILY IS AN INITIATIVE RUN BY THE PAM FERGUSSON CHARITABLE TRUST
                      br
                  //- a(class="original-only"  style="text-decoration: none;")
                  //-   block unsubscribe
                  //-     span Unsubscribe
                  //- span(class="original-only" style="font-size: 12px; color: #444444;") &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                  //- a(class="original-only"  style="text-decoration: none;")
                  //-   block viewinbrowser
                  //-     span View this email in your browser