<!-- HEADER -->
table( class="header" width="100%")
  tr
    td(bgcolor="#000")
      div(align="center" style="padding: 0px 15px 0px 15px;")
        table(width="500" class="wrapper")
          tr
            td(style="padding: 10px 0px 10px 0px;" class="logo")
              table(width="100%")
                tr
                  td
                    a(href="http://voluntarily.nz" target="_blank")
                      include vlogo.pug
                  td(width="100" align="left")
                      span(style="font-size: 28px; color: #fff; line-height: 14px") Voluntari.ly
                  td(width="400" align="right" class="mobile-hide")
                    table
                      tr
                        td(align="right" style="padding: 0 0 5px 0; font-size: 22px;")
                          block tagline
                  