extends ../theme/layout.pug

block tagline
  span Heads-up #{person.nickname}, an update
  
block copybig
  p Thank you for volunteering through Voluntari.ly

block copy
  p Kia ora #{person.nickname},
  p Right now we have all the people we need for #{person.volunteerEvent}. But will let you know if that changes. 

//- Override copy button because the layout has a block for authentical user
//- Replace it witht this will do
block copybutton
  p Meanwhile, please take a look at the other opportunities still needing volunteers.
  p Ngā mihi, Voluntari.ly
   
block copyimage
  a(href="http://voluntarily.nz" target="_blank")
                                 
