<section>
  <h2><span>Interested Volunteers</span></h2>
  <div class="ant-table-wrapper">
    <div class="ant-spin-nested-loading">
      <div class="ant-spin-container">
        <div class="ant-table ant-table-default ant-table-scroll-position-left">
          <div class="ant-table-content">
            <div class="ant-table-body">
              <table class="">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <thead class="ant-table-thead">
                  <tr>
                    <th class=""><span class="ant-table-header-column">
                        <div><span class="ant-table-column-title">Name</span><span
                            class="ant-table-column-sorter"></span></div>
                      </span></th>
                    <th class=""><span class="ant-table-header-column">
                        <div><span class="ant-table-column-title">Comment</span><span
                            class="ant-table-column-sorter"></span></div>
                      </span></th>
                    <th class=""><span class="ant-table-header-column">
                        <div><span class="ant-table-column-title">Status</span><span
                            class="ant-table-column-sorter"></span></div>
                      </span></th>
                    <th class=""><span class="ant-table-header-column">
                        <div><span class="ant-table-column-title">Action</span><span
                            class="ant-table-column-sorter"></span></div>
                      </span></th>
                  </tr>
                </thead>
                <tbody class="ant-table-tbody">
                  <tr class="ant-table-row ant-table-row-level-0" data-row-key="5cc903e5f94141437622cea8">
                    <td class=""><span style="padding-left: 0px;"
                        class="ant-table-row-indent indent-level-0"></span><span><span
                          class="ant-avatar ant-avatar-lg ant-avatar-square ant-avatar-image ant-avatar-icon"><img
                            src="https://uploads5.wikiart.org/images/salvador-dali.jpg!Portrait.jpg"></span>&nbsp;Dali</span>
                    </td>
                    <td class="">Test Comment</td>
                    <td class="">interested</td>
                    <td class="">
                      <div><span><button type="button"
                            class="ant-btn ant-btn-primary ant-btn-round"><span>Invite</span></button>&nbsp;</span><span>
                              <button
                            type="button"
                            class="ant-btn ant-btn-danger ant-btn-round"><span>Decline</span></button></span></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>