// grid classes

.sectionContainer {
  margin: 0 auto;
  width: 80rem;
  margin-top: 20rem;
  background-color: pink;
}


.fourColumnGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 18.5rem);
  grid-gap: 2rem;

}

.testPotatoCard {
  width: 18.5rem;
  height: 20rem;
  background-color: purple;
}



// Medium Screens
@media screen and (min-width: 768px) and (max-width: 1680px) {

  .sectionContainer {
    width: calc(100vw - 2rem);

  }

}


// Small / Smol Screens & Phones
@media screen and (max-width: 767px) {

  .sectionContainer {
    width: calc(100vw - 4rem);
    margin: 2rem;
  }

  .testPotatoCard {
width: calc(100vw - 4rem);
  }
}

//###############################################################################################################

// card classes

.cardContainer {
  width: 18rem;
  height: 12rem;
  background-color: blue;
}

// test classes

.center {
   margin: 12rem auto;

}