⠏ <div class="VTheme__HalfGrid-sc-1tny6lp-6 bUKApa">
    <div class="ItemList__Left-wkqrha-0 hZjRgK"><img
            src="https://www.tvnz.co.nz/content/dam/images/news/2015/01/26/pacific-island-mentors-with-kelston-high-school-students.jpg.hashed.0d58ef7e.desktop.story.share.jpg"
            alt="1 Mentor a year 12 business Impact Project" class="ItemList__ItemImage-wkqrha-6 jigZIC"></div>
    <div class="ItemList__Right-wkqrha-1 lczbnK">
        <h1>1 Mentor a year 12 business Impact Project</h1>
        <h4>Wellington</h4>
        <ul class="ItemList__ItemContainer-wkqrha-2 dxJVLf">
            <li class="ItemList__ItemListing-wkqrha-3 hTlEjw">
                &#x23F1;&#xA0;<strong><span>Duration:</span></strong>&#xA0;&#xA0;&#xA0;12 weeks, 1 hour sessions</li>
            <li class="ItemList__ItemListing-wkqrha-3 hTlEjw">
                &#x1F5D3;&#xA0;<strong><span>Date:</span></strong>&#xA0;&#xA0;&#xA0;Negotiable </li>
            <li class="ItemList__ItemListing-wkqrha-3 hTlEjw">
                &#x1F4DD;&#xA0;<strong><span>Status:</span></strong>&#xA0;&#xA0;&#xA0;active</li>
        </ul>
        <div class="OpDetail__ActionContainer-sc-16i6ypx-1 hrGEi">
            <div><button type="button" class="ant-btn ant-btn-primary ant-btn-round ant-btn-lg"><span>I&apos;m
                        Interested</span></button></div><button type="button"
                class="ant-btn ant-btn-secondary ant-btn-round ant-btn-lg"><span>Share</span></button>
        </div>
    </div>
</div>
<div class="OpDetail__TabContainer-sc-16i6ypx-0 cgqCFI">
    <div class="ant-tabs ant-tabs-top ant-tabs-line" style="overflow:visible;text-align:center">
        <div role="tablist" class="ant-tabs-bar ant-tabs-top-bar" tabindex="0">
            <div class="ant-tabs-nav-container"><span unselectable="unselectable"
                    class="ant-tabs-tab-prev ant-tabs-tab-btn-disabled"><span class="ant-tabs-tab-prev-icon"><i
                            aria-label="icon: left" class="anticon anticon-left ant-tabs-tab-prev-icon-target"><svg
                                viewBox="64 64 896 896" focusable="false" class="" data-icon="left" width="1em"
                                height="1em" fill="currentColor" aria-hidden="true">
                                <path
                                    d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z" />
                                </svg></i></span></span><span unselectable="unselectable"
                    class="ant-tabs-tab-next ant-tabs-tab-btn-disabled"><span class="ant-tabs-tab-next-icon"><i
                            aria-label="icon: right" class="anticon anticon-right ant-tabs-tab-next-icon-target"><svg
                                viewBox="64 64 896 896" focusable="false" class="" data-icon="right" width="1em"
                                height="1em" fill="currentColor" aria-hidden="true">
                                <path
                                    d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z" />
                                </svg></i></span></span>
                <div class="ant-tabs-nav-wrap">
                    <div class="ant-tabs-nav-scroll">
                        <div class="ant-tabs-nav ant-tabs-nav-animated">
                            <div>
                                <div role="tab" aria-disabled="false" aria-selected="true"
                                    class="ant-tabs-tab-active ant-tabs-tab"><span
                                        style="font-size:1.2rem;font-weight:bold"><span>About</span></span></div>
                                <div role="tab" aria-disabled="false" aria-selected="false" class=" ant-tabs-tab"><span
                                        style="font-size:1.2rem;font-weight:bold">Questions</span></div>
                                <div role="tab" aria-disabled="false" aria-selected="false" class=" ant-tabs-tab"><span
                                        style="font-size:1.2rem;font-weight:bold">Updates</span></div>
                            </div>
                            <div class="ant-tabs-ink-bar ant-tabs-ink-bar-animated"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div tabindex="0" style="width:0;height:0;overflow:hidden;position:absolute" role="presentation"></div>
        <div class="ant-tabs-content ant-tabs-content-animated ant-tabs-top-content" style="margin-left:0%">
            <div role="tabpanel" aria-hidden="false" class="ant-tabs-tabpane ant-tabs-tabpane-active">
                <div tabindex="0" style="width:0;height:0;overflow:hidden;position:absolute" role="presentation"></div>
                <div class="VTheme__OpSectionGrid-sc-1tny6lp-5 dZUulh">
                    <div>
                        <h2>About this Activity</h2>
                    </div>
                    <div class="ItemList__ItemDescription-wkqrha-4 eAvBfS"><span style="width:100%">We want to set up
                            our Connect Ed programme, help us understand how to communication with businesses, build a
                            website and contact group etc.</span>
                        <div class="ItemList__TagContainer-wkqrha-5 kfmaXa">
                            <div class="ant-divider ant-divider-horizontal" role="separator"></div>
                            <h5><span>Tags</span></h5><span></span>
                        </div>
                    </div>
                </div>
                <div class="ant-divider ant-divider-horizontal" role="separator"></div>
                <div class="VTheme__OpSectionGrid-sc-1tny6lp-5 dZUulh">
                    <div>
                        <h2>Organised by</h2>
                    </div>
                    <div>
                        <li class="ItemList__ItemListing-wkqrha-3 hTlEjw"><a style="display:block;margin:0"
                                href="/orgs/ck3gm0kmh0001u4yh5u9f9qiw"><span
                                    style="width:32px;height:32px;line-height:32px;font-size:16px"
                                    class="ant-avatar ant-avatar-square ant-avatar-image ant-avatar-icon"><img
                                        src="https://files.list.co.uk/images/2009/02/19/623atpiccap2.jpg"></span><span
                                    style="margin-left:1em">Action Whizzy Felt</span></a></li>
                        <li class="ItemList__ItemListing-wkqrha-3 hTlEjw"><a style="display:block;margin:0"
                                href="/people/ck3gm0kmh0000u4yh1axy63xw"><span
                                    style="width:32px;height:32px;line-height:32px;font-size:16px"
                                    class="ant-avatar ant-avatar-square ant-avatar-image ant-avatar-icon"><img
                                        src="https://blogcdn1.secureserver.net/wp-content/uploads/2014/06/create-a-gravatar-beard.png"></span><span
                                    style="margin-left:1em">Testy McTestface</span></a></li>
                    </div>
                </div>
                <div tabindex="0" style="width:0;height:0;overflow:hidden;position:absolute" role="presentation"></div>
            </div>
            <div role="tabpanel" aria-hidden="true" class="ant-tabs-tabpane ant-tabs-tabpane-inactive"></div>
            <div role="tabpanel" aria-hidden="true" class="ant-tabs-tabpane ant-tabs-tabpane-inactive"></div>
        </div>
        <div tabindex="0" style="width:0;height:0;overflow:hidden;position:absolute" role="presentation"></div>
    </div>
</div>