<div class="OpDetailForm">
  <form class="ant-form ant-form-horizontal ant-form-hide-required-mark">
    <div class="ant-row">
      <div class="ant-col ant-col-xs-24 ant-col-md-8">
        <h2>1. What are you looking for?</h2>
        <p>Before our skilled volunteers get involved, they need to know how they can help. Add a title and description
          to your request to attract volunteers</p>
      </div>
      <div class="ant-col ant-col-xs-24 ant-col-md-16">
        <div class="ant-row ant-form-item">
          <div class="ant-col ant-form-item-label ant-col-xs-24 ant-col-sm-4"><label for="opportunity_detail_form_title"
              class="ant-form-item-required ant-form-item-no-colon" title=""><span>Title</span></label></div>
          <div class="ant-col ant-form-item-control-wrapper ant-col-xs-24 ant-col-sm-20 ant-col-md-16">
            <div class="ant-form-item-control"><span class="ant-form-item-children"><input placeholder="Title"
                  type="text" id="opportunity_detail_form_title" data-__meta="[object Object]"
                  data-__field="[object Object]" class="ant-input" value=""></span></div>
          </div>
        </div>
        <div class="ant-row ant-form-item">
          <div class="ant-col ant-form-item-label ant-col-xs-24 ant-col-sm-4"><label
              for="opportunity_detail_form_subtitle" class="ant-form-item-no-colon"
              title=""><span>Subtitle</span></label></div>
          <div class="ant-col ant-form-item-control-wrapper ant-col-xs-24 ant-col-sm-20 ant-col-md-16">
            <div class="ant-form-item-control"><span class="ant-form-item-children"><input
                  placeholder="short summary that appears on the listing." type="text"
                  id="opportunity_detail_form_subtitle" data-__meta="[object Object]" data-__field="[object Object]"
                  class="ant-input" value=""></span></div>
          </div>
        </div>
        <div class="ant-row ant-form-item">
          <div class="ant-col ant-form-item-label ant-col-xs-24 ant-col-sm-4"><label
              for="opportunity_detail_form_description" class="ant-form-item-no-colon"
              title=""><span>Description</span></label></div>
          <div class="ant-col ant-form-item-control-wrapper ant-col-xs-24 ant-col-sm-20 ant-col-md-16">
            <div class="ant-form-item-control"><span class="ant-form-item-children"><textarea rows="20"
                  placeholder="All the details about the request. You can use markdown here."
                  id="opportunity_detail_form_description" data-__meta="[object Object]" data-__field="[object Object]"
                  class="ant-input"></textarea></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ant-divider ant-divider-horizontal"></div>
    <div class="ant-row">
      <div class="ant-col ant-col-xs-24 ant-col-md-8">
        <h2>2. Where and when? (optional)</h2>
        <p>If you know when you'll need help, or where - this will help volunteers to organise logistics and increase
          volunteer numbers.</p>
      </div>
      <div class="ant-col ant-col-xs-24 ant-col-md-16">
        <div class="ant-row ant-form-item ant-form-item-with-help">
          <div class="ant-col ant-form-item-label ant-col-xs-24 ant-col-sm-4"><label
              for="opportunity_detail_form_duration" class="ant-form-item-required ant-form-item-no-colon"
              title=""><span>Commitment</span></label></div>
          <div class="ant-col ant-form-item-control-wrapper ant-col-xs-24 ant-col-sm-20 ant-col-md-16">
            <div class="ant-form-item-control has-error"><span class="ant-form-item-children"><input
                  placeholder="4 hours" type="text" id="opportunity_detail_form_duration" data-__meta="[object Object]"
                  data-__field="[object Object]" class="ant-input" value=""></span>
              <div class="ant-form-explain show-help-enter">Commitment level is required</div>
            </div>
          </div>
        </div>
        <div class="ant-row ant-form-item">
          <div class="ant-col ant-form-item-label ant-col-xs-24 ant-col-sm-4"><label
              for="opportunity_detail_form_location" class="ant-form-item-no-colon"
              title=""><span>Location</span></label></div>
          <div class="ant-col ant-form-item-control-wrapper ant-col-xs-24 ant-col-sm-20 ant-col-md-16">
            <div class="ant-form-item-control"><span class="ant-form-item-children"><input
                  placeholder="school or somewhere else?" type="text" id="opportunity_detail_form_location"
                  data-__meta="[object Object]" data-__field="[object Object]" class="ant-input" value=""></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ant-divider ant-divider-horizontal"></div>
    <div class="ant-row">
      <div class="ant-col ant-col-xs-24 ant-col-md-8">
        <h2>3. Illustration? (optional)</h2>
        <p>Requests with photos get more responses. If you don't have a photo leave blank and we will provide one based
          on the category.</p>
      </div>
      <div class="ant-col ant-col-xs-24 ant-col-md-16">
        <div class="ant-row ant-form-item">
          <div class="ant-col ant-form-item-label ant-col-xs-24 ant-col-sm-4"><label
              for="opportunity_detail_form_imgUrl" class="ant-form-item-no-colon" title=""><span>Image
                Link</span></label></div>
          <div class="ant-col ant-form-item-control-wrapper ant-col-xs-24 ant-col-sm-20 ant-col-md-16">
            <div class="ant-form-item-control"><span class="ant-form-item-children"><input
                  placeholder="http://example.com/image.jpg" type="text" id="opportunity_detail_form_imgUrl"
                  data-__meta="[object Object]" data-__field="[object Object]" class="ant-input" value=""></span></div>
          </div>
        </div>
        <div class="ant-row ant-form-item">
          <div class="ant-col ant-form-item-label ant-col-xs-24 ant-col-sm-4"><label
              for="opportunity_detail_form_status" class="ant-form-item-required ant-form-item-no-colon"
              title=""><span>Status</span></label></div>
          <div class="ant-col ant-form-item-control-wrapper ant-col-xs-24 ant-col-sm-20 ant-col-md-16">
            <div class="ant-form-item-control has-success"><span class="ant-form-item-children">
                <div class="ant-radio-group ant-radio-group-solid" id="opportunity_detail_form_status"><label
                    class="ant-radio-button-wrapper ant-radio-button-wrapper-checked"><span
                      class="ant-radio-button ant-radio-button-checked"><input type="radio"
                        class="ant-radio-button-input" value="draft" checked=""><span
                        class="ant-radio-button-inner"></span></span><span>Draft</span></label><label
                    class="ant-radio-button-wrapper"><span class="ant-radio-button"><input type="radio"
                        class="ant-radio-button-input" value="active"><span
                        class="ant-radio-button-inner"></span></span><span>Active</span></label><label
                    class="ant-radio-button-wrapper"><span class="ant-radio-button"><input type="radio"
                        class="ant-radio-button-input" value="done"><span
                        class="ant-radio-button-inner"></span></span><span>Done</span></label></div>
              </span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ant-row">
      <div style="text-align: right;"
        class="ant-col ant-col-xs-24 ant-col-xs-offset-0 ant-col-md-8 ant-col-md-offset-12"><button type="button"
          class="ant-btn ant-btn-secondary"><span>Cancel</span></button><button style="margin-left: 8px;" type="submit"
          class="ant-btn ant-btn-primary" disabled=""><span>Save</span></button></div>
    </div>
  </form>
</div>