table(width="100%")
  tr
    td(align="center")
      table(width="100%" align="center")
        tr
          td(style="padding: 20px 0px 20px 0px;")
            table(width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="responsive-table")
              tr
                td(align="center" valign="middle" style="font-size: 12px; line-height: 18px; color:#aaaaaa;")
                  span(class="appleFooter")
                    block footer
                      p Voluntarily is an initiative run by the 
                        a( href="http://www.pamfergusson.co.nz/") 
                          span Pam Fergusson Charitable Trust. 
                        if (to && to.email && to.href)
                          span This email was sent to #{to.email}. You're receiving this email because you expressed interest in Voluntarily Opportunities.
                      p If you'd rather not see us in your inbox in the future, 
                        if (unsubscribeLink)
                          a(href=unsubscribeLink) Unsubscribe
                      p template #{template}
