<svg title="star rating" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M29.6199 17.24L39.2999 18.08C41.0599 18.22 41.7599 20.42 40.4199 21.58L33.0799 27.94L35.2799 37.4C35.6799 39.12 33.8199 40.48 32.2999 39.56L23.9999 34.54L15.6999 39.54C14.1799 40.46 12.3199 39.1 12.7199 37.38L14.9199 27.94L7.5799 21.58C6.2399 20.42 6.9599 18.22 8.7199 18.08L18.3799 17.26L22.1599 8.34C22.8399 6.72 25.1599 6.72 25.8399 8.34L29.6199 17.24ZM16.4799 35.34L23.9999 30.8L31.5399 35.36L29.5399 26.8L36.1799 21.04L27.4199 20.28L23.9999 12.2L20.5999 20.26L11.8399 21.02L18.4799 26.78L16.4799 35.34Z" fill="black"/>
  <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="6" y="7" width="36" height="33">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.6199 17.24L39.2999 18.08C41.0599 18.22 41.7599 20.42 40.4199 21.58L33.0799 27.94L35.2799 37.4C35.6799 39.12 33.8199 40.48 32.2999 39.56L23.9999 34.54L15.6999 39.54C14.1799 40.46 12.3199 39.1 12.7199 37.38L14.9199 27.94L7.5799 21.58C6.2399 20.42 6.9599 18.22 8.7199 18.08L18.3799 17.26L22.1599 8.34C22.8399 6.72 25.1599 6.72 25.8399 8.34L29.6199 17.24ZM16.4799 35.34L23.9999 30.8L31.5399 35.36L29.5399 26.8L36.1799 21.04L27.4199 20.28L23.9999 12.2L20.5999 20.26L11.8399 21.02L18.4799 26.78L16.4799 35.34Z" fill="white"/>
  </mask>
  <g mask="url(#mask0)">
    <rect width="48" height="48" fill="#653CAD"/>
  </g>
</svg>
