extends ../theme/layout.pug

block tagline
  span Get ready for a fun event #{person.nickname}
  
block copybig
  p Great news

block copy
  p Kia ora #{person.nickname},
  p Another volunteer just committed to your event #{person.volunteerEvent}

//- Override copy button because the layout has a block for authentical user
//- Replace it witht this will do
block copybutton
  p Looking forward to the event
   
block copyimage
  a(href="http://voluntarily.nz" target="_blank")
                                 
