.hero {
  width: 100vw;
  position: relative;
  top:-56px;
  font-size:0.5rem;
  margin: 0;
}

/* Full width image */
.hero img {
  margin-top: 56px;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  
}

/* component in centre of image */
.herocard {	
  position: absolute;	
  color: #FFFFFF;	
  top: 35%;
  left: 10rem;
  width: 50%;  
}

.herocard h1 {	
  color: #FFFFFF;	
  font-family: Inter;	
  font-size: 6rem;	
  font-weight: 900;	
  letter-spacing: -0.03em;	
  margin-bottom: 0px;
}

.herocard p {
  letter-spacing: -0.06rem;
}

.rest {
  margin: 0 1em 5em 1em;
}

.about img {
  width: 100%;
}

.aboutImg {
  width: 39rem;
  justify-self: end;

}

h2 {
  font-weight: 900;
  font-size: 1.8rem;	
}

.vGridContainer {
  position: relative;
  width: 80rem;
  display: grid;
  margin: auto auto;
}

.vGridContainerText {
  color: #333;
  line-height: 2;
  font-size: 1rem;
}

.aboutContainer {
  display: grid;
  grid-template-columns: 40rem 40rem;
}

.centeredDiv {
  margin-top: 10%;
}
.spacer {
  height: 5rem;
}
.blockTitle {
  height: 4rem;
  vertical-align: center;
}

.personaContainer {
  width: 18.5rem;
  position: relative;
}


.personaTitle {
margin: 0.5rem 0rem 0rem 0rem;
font-size: 1.5rem;
font-weight: 600;
letter-spacing: -0.95px;
color: black;
}

.personaText {
  margin: 0.0rem 0rem 0rem 0rem;
  height: 3rem;
  width: 16.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: black;
  letter-spacing: -0.6px;
  line-height: 24px;

}

.request4grid {
  display: grid;
  grid-template-columns: 18.5rem 18.5rem 18.5rem 18.5rem;
  grid-gap: 2rem;
}



.requestContainer {
  width: 18.5rem;
  letter-spacing: -0.3px;
  line-height: 24px;

}

.requestImg {
  width: 18.5rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;

}
 
.requestTitle {
  margin-top: 0.5rem;
  margin-bottom: 0px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.requestDateTime {
    height: 1.5rem;
    margin-bottom: 0px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    color: #585858;
}
.requestDescription {
  vertical-align: top;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

// Lets start getting responsive lol

@media screen and (min-width: 1380px) {
  .hero {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1380px) {
  display: grid;
  grid-template-columns: 18rem 18rem 18rem;
  grid-gap: 2rem;
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {

  .request4grid {
    display: grid;
    grid-template-columns: 18rem 18rem 18rem 18rem;
    grid-gap: 2rem;
  }

  .aboutImg {
    width: 50vw;
    justify-self: end;
    margin-right: 1.5rem;
  }
  

.vGridContainer {
  width: 95vw;
  left: -26px;
  
}

.personaContainer {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  
}

.personaBox {
  width: 50vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #333;

}

.personaImage {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.personaTitle {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
}

.personaDescription {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .vGridContainer {
    width: 100vw;
    left: -26px;
    margin: initial;
  }


  .aboutContainer {
    display: grid;
    grid-template-columns: 50vw 50vw;
  }
  
  .request4grid {
    display: grid;
    grid-template-columns: 18.5rem 18.5rem 18.5rem; 
    grid-gap: 2rem;
  }
  
  .personaContainer {
    grid-template-columns: 1fr;
  }
  .personaBox {
    width: 100vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #333;
  
  }
  
  .personaImage {
    width: 100vw;
    height: 15rem;
    object-fit: cover;
  }
  
  .personaTitle {
    width: 100%;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: -0.5px;
  }
  
  .personaDescription {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

}

@media screen and (max-width: 768px) {

  h2 {
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.3;	
  }
  
  .spacer {
    height: 2rem;
  }

  .herocard {	
    position: absolute;	
    color: #FFFFFF;	
    font-family: "Inter";	
    top: 35%;
    left: 2rem;
    width: 50%;  
  }
  
  .herocard h1 {	
    color: #FFFFFF;	
    font-size: 3rem;	
    font-weight: 900;	
    letter-spacing: -0.03em;	
    margin-bottom: 0px;
  }
 
  .vGridContainer {
    width: 100vw;
  }
  .vGridContainerText {
    color: #333;
    line-height: 2;
    font-size: 1rem;
    width: 90vw;
  }
  .centeredDiv {
    margin-top: initial;
  }

  .aboutContainer {
    display: grid;
    grid-template-columns: 100vw;
    margin-left: 1rem;
  }
  .aboutImg {
    width: 100vw;
    justify-self: start;
    margin: initial;

  }
  

    
  .personaImage {
    width: 100vw;
    height: 15rem;
    object-fit: cover;
  }

  .request4grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .personaContainer {
    grid-template-columns: 100%;
  }

  .requestContainer {
    width: 100vw;
    letter-spacing: -0.3px;
    line-height: 24px;
  
  }
  
  .requestImg {
    width: 100vw;
    height: 17vh;
    object-fit: cover;
    object-position: center;
  
  }
   
  .requestTitle {
    margin-top: 0.5rem;
    margin-bottom: 0px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
    color: #000;
  }
  
  .requestDateTime {
      height: 1.5rem;
      margin-bottom: 0px;
      vertical-align: middle;
      font-weight: bold;
      font-size: 16px;
      color: #585858;
  }
  .requestDescription {
    vertical-align: top;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }
}
